
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#202020;
    padding: 15px;
    width: 100vw;
    z-index: 100;
    
}

.navbar .logo img{

    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-left: 30px;


}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
}

.navbar .nav-links li {
    display: flex;
    margin: 0 15px;
    justify-content: center;

}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar .nav-links li a:hover {
    color: lightgreen;
}




.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu:active{
    display: block;
}
.dropdown-menu {
    display:none;
    background-color:#202020 ;
    position: absolute;
    top: 80px;
    right: auto;
    align-items: center;
    padding: 20px;
}
.about-item{
    color: white;
}
#services{
    display: none;
}
#services:hover,#dropdown-content{
    display: block;
}
#dropdown-content{
    display: none;
}
.contributer{
    display:flex;
    background: linear-gradient(to bottom, 	black,#181818); 
    height: 100vh;
    width: 100vw;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.contributer-item img{
    margin-top: 50px;
    height:200px;
    width: 200px;
    background-color: red;

}
.contributer-item{
    height: 600px;
    width: 400px;
    text-align: center;
    background-color: #333;
    border-radius: 50px;
    margin-top: 40px;

}
.contributer-item img:hover{
    transform: translateY(-10px); 
    box-shadow: 0px 0px 10px 5px rgba(251, 5, 5, 0.957);
}
h3{
    font-size: larger;
    margin-top: 30px;
    color: white;

}
.social-icons {
    list-style: none;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.social-icons li {
    font-size: 24px;
}
.social-icons a {
    color: white;
    text-decoration: none;
}
.social-icons a:hover {
    color: grey;
}

