
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#202020;
    padding: 15px;
    width: 100vw;
    z-index: 100;
    
}

.navbar .logo img{

    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-left: 30px;


}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
}

.navbar .nav-links li {
    display: flex;
    margin: 0 15px;
    justify-content: center;

}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar .nav-links li a:hover {
    color: lightgreen;
}




.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu:active{
    display: block;
}
.dropdown-menu {
    display:none;
    background-color:#202020 ;
    position: absolute;
    top: 80px;
    right: auto;
    align-items: center;
    padding: 20px;
}
.about-item{
    color: white;
}
#services{
    display: none;
}
#services:hover,#dropdown-content{
    display: block;
}
#dropdown-content{
    display: none;
}
.about{
    background-image:url(./resouses/PHOTO-2024-11-25-23-42-25.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.about-content{
    margin: auto;
    margin-top: 70px;
    height: 80em;
    width: 80em;

    backdrop-filter: blur(3px);
    text-align: center;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
h1{
    margin-top: 90px;
   font-size: 100px; 
   color: #F0F8FF;
   margin-bottom: 40px;
}
p{
    font-size: 50px;
    color: white;
}

footer{
    display: flex;
    background-color: white;
    color: black;
    height: 100px;
    align-items: center;
    justify-content: center;
    z-index: 1;

    
}
#footer{
    align-self: center;

}
#footer img{
    height: 32px;
    width: 32px;
}
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
.social-icons li {
    font-size: 24px;
}
.social-icons a {
    color: #333;
    text-decoration: none;
}
.social-icons a:hover {
    color: brown;
}

